.pagination {
  margin-bottom: 25px;
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(40px);
  border-radius: 12px;
  position: relative;
  width: fit-content;
  &__list {
    display: flex;
    align-items: center;
    background-color: transparent;
    padding: 8px;
  }

  &__btn {
    background: transparent;
    border-radius: 8px;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #EBE9FE;
    padding: 12px 24px;
    position: relative;
  }
}

.active-idicator {
  background: #7B6EF6;
  border-radius: 8px;
  position: absolute;
  top: 8px;
  transform: translateX(8px);
  transition: transform 0.5s ease-in-out;
}


